{% extends "__layout.html" %}

{% block content %}
<section>
    <section class="card card-body">
        <h4 class="card-title">Обо мне</h4>
        <p class="card-text muted">Всем привет! Меня зовут Даниил Кнауб. Я студент группы <a href="#" data-bs-toggle="tooltip" data-bs-title="Информационные системы и технологии">ИСТб</a>-24-3 <a href="https://www.istu.edu/" data-bs-toggle="tooltip" data-bs-title="Иркутского Политеха">ИРНИТУ</a>. Люблю пиццу &#127829; и <a href="#" data-bs-toggle="tooltip" data-bs-title="Всплывающие подскази из Bootstrap">тултипы</a>. Если нажмёте на кнопку, расположенную ниже, то перейдёте на мою страницу на <a href="#" data-bs-toggle="tooltip" data-bs-title="Социальная сеть для программистов">Github</a> и сможете посмотреть на код данного сайта.  Backend написан на Flask'е, а frontend состоит из HTML, CSS, Bootstrap. Backend написан на Flask'е, а frontend состоит из HTML, CSS, Bootstrap. Хорошего Вам дня!</p>
        <p class="card-text muted">Электронная почта: <a href="mailto:daniilknaub@yandex.ru">daniilknaub@yandex.ru</a></p>
        <a href="https://github.com/pickled-melon/flask_coursework" class="btn btn-primary">Мой Github</a>
    </section>
</section>

{% endblock %}

