{% extends "__layout.html" %}

{% block content %}

<h5 class="display-5">Функции Всемирного банка</h5>

<section>
    <div class="container-xxl">
          <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for card in cards %}
                <div class="col">
                  <div class="card">
                    <img src="{{ card.img_link }}" class="card-img-top" alt="{{ card.img_alt }}" title="{{ card.img_title }}">
                    <div class="card-body">
                      <h5 class="card-title">{{ card.title }}</h5>
                      <p class="card-text">{{ card.text | safe }}</p>
                    </div>
                  </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}