{% extends "__layout.html" %}

{% block content %}

<h5 class="display-5">Функции Всемирного банка</h5>

<section>
    <div class="container-xxl">
          <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card">
                <img src="/static/images/financial_aid.jpg" class="card-img-top" alt="Финасовая помощь" title="Финансирование проектов">
                <div class="card-body">
                  <h5 class="card-title">Финансирование проектов</h5>
                  <p class="card-text">Мировой банк предоставляет кредиты и гранты для реализации проектов в различных секторах, таких как инфраструктура, здравоохранение, образование, сельское хозяйство и охрана окружающей среды. Проекты могут включать строительство дорог, мостов, школ, больниц и систем водоснабжения.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="/static/images/consulting.jpg" class="card-img-top" alt="Консультирование" title="Техническая помощь и консультации">
                <div class="card-body">
                  <h5 class="card-title">Техническая помощь и консультации</h5>
                  <p class="card-text">Мировой банк предлагает странам консультации по разработке экономической политики, управлению проектами и улучшению государственных институтов. Это может включать обучение, исследования и обмен опытом.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="/static/images/research.jpg" class="card-img-top" alt="Исследование" title="Исследования и анализ">
                <div class="card-body">
                  <h5 class="card-title">Исследования и анализ</h5>
                  <p class="card-text">Мировой банк проводит обширные исследования по вопросам экономического развития, бедности, неравенства и устойчивого роста. Его отчеты, такие как <a href="/glossary#World_Development_Report">"World Development Report"</a>, служат важным источником информации для правительств, исследователей и организаций.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="/static/images/collaboration.jpg" class="card-img-top" alt="Сотрудничество" title="Сотрудничество с другими организациями">
                <div class="card-body">
                  <h5 class="card-title">Сотрудничество с другими организациями</h5>
                  <p class="card-text">Мировой банк активно сотрудничает с другими международными и региональными организациями, такими как <a href="/glossary#United_Nations">ООН</a>, <a href="/glossary#International_Monetary_Fund">МВФ</a>, региональные банки развития и неправительственные организации, чтобы объединить усилия в борьбе с глобальными вызовами.</p>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}