{% extends "__layout.html" %}

{% block content %}

<h5 class="display-5">Будущее Всемирного банка</h5>


<section>
    <div class="card">
        <div class="card-body">
            В последние годы <a href="/glossary#world_bank">Мировой банк</a> адаптируется к новым вызовам, таким как изменение климата, глобальные
            миграционные потоки, пандемии и экономические кризисы. Основные направления работы включают:
        </div>
    </div>
</section>

<section>
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/images/climate_changes.jpg" class="d-block w-100" alt="Изменение климата" title="Изменение климата">
            <div class="carousel-caption d-none d-md-block">
              <h5>Изменение климата</h5>
              <p>Мировой банк активно работает над проектами, направленными на борьбу с <a href="/glossary#Climate_change">изменением климата</a> и его последствиями. Он стремится финансировать устойчивые проекты и поддерживать страны в адаптации к новым климатическим условиям.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/static/images/business-sector.png" class="d-block w-100" alt="Частный сектор" title="Сотрудничество с частным сектором">
            <div class="carousel-caption d-none d-md-block">
              <h5>Сотрудничество с частным сектором</h5>
              <p>Мировой банк ищет новые способы сотрудничества с частным сектором для привлечения <a href="/glossary#Investment">инвестиций</a> и инноваций в проекты развития.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/static/images/reporting.jpg" class="d-block w-100" alt="Отчетность" title="Улучшение прозрачности и отчетности">
            <div class="carousel-caption d-none d-md-block">
              <h5>Улучшение прозрачности и отчетности</h5>
              <p>В ответ на критику, Мировой банк работает над повышением прозрачности своих операций и улучшением механизмов контроля.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</section>

<!-- <section>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="/static/images/climate_changes.jpg" class="d-block w-100" alt="Изменение климата">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Изменение климата</h5>
                    <p>Мировой банк активно работает над проектами, направленными на борьбу с изменением климата и его последствиями. Он стремится финансировать устойчивые проекты и поддерживать страны в адаптации к новым климатическим условиям.</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="/static/images/sustainability.jpg" class="d-block w-100" alt="Устойчивое развитие">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Устойчивое развитие</h5>
                    <p>Организация акцентирует внимание на достижении Целей устойчивого развития (ЦУР) ООН и стремится интегрировать принципы устойчивого развития в свои проекты.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section> -->

{% endblock %}