{% extends "__layout.html" %}

{% block content %}

<h5 class="display-5">Будущее Всемирного банка</h5>


<section>
    <div class="card">
        <div class="card-body">
            В последние годы <a href="/glossary#world_bank">Мировой банк</a> адаптируется к новым вызовам, таким как изменение климата, глобальные
            миграционные потоки, пандемии и экономические кризисы. Основные направления работы включают:
        </div>
    </div>
</section>

<section>
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
            {% for item in items %}
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ loop.index0 }}" {% if loop.first %} class="active" aria-current="true" {% endif %} aria-label="Slide {{ loop.index0+1 }}"></button>
            {% endfor %}
        </div>
        <div class="carousel-inner">
            {% for item in items %}
              <div class="carousel-item {% if loop.first %} active {% endfor %}">
                <img src="{{ item.img_link }}" class="d-block w-100" alt="{{ item.img_alt }}" title="{{ item.img_title }}">
                <div class="carousel-caption d-none d-md-block">
                  <h5>{{ item.title }}</h5>
                  <p>{{ item.text | safe }}</p>
                </div>
              </div>
            {% endfor %}
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
      </div>
</section>

{% endblock %}