{% extends "__layout.html" %}

{% block content %}

<h5 class="display-5">История <a href="/glossary#world_bank">Всемирного банка</a></a></h5>

<section>
    <div class="container-xxl">
        <div class="card mb-3">
            <img src="/static/images/conference.jpg" class="card-img-top" alt="Бреттон-Вудская конференция" title="Бреттон-Вудская конференция">
            <div class="card-body">
                <h5 class="card-title">Основание и ранние годы (1944-1960)</h5>
                <p class="card-text">Всемирный банк был основан в 1944 году на <a href="/glossary#Bretton_Woods_Conference">Бреттон-Вудской конференции</a>, проходившей
                    в Нью-Гэмпшире, США. На этой конференции представители 44 стран собрались для обсуждения
                    послевоенного экономического порядка. Основной целью было восстановление разрушенных войной экономик
                    и создание новых механизмов для международного финансового сотрудничества.</p>
                <p class="card-text"><small class="text-body-secondary">Источник: <a href="https://www.worldbank.org">
                            <p>Официальный сайт Всемирного банка</p>
                        </a></small></p>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Расширение и новые инициативы (1960-1980)</h5>
                    <p class="card-text">В 1960 году была создана <a href="/glossary#International_Development_Association">Международная ассоциация развития (МАР)</a>, которая предоставляла льготные кредиты и гранты для самых бедных стран. Это стало важным шагом в расширении миссии Всемирного банка.</p>
                </div>
                <div class="card-footer text-body-secondary">
                    Создание Международной ассоциации развития (МАР)
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Реформа и адаптация (1980-2000)</h5>
                    <p class="card-text">В 1980-х годах Всемирный банк адаптировался к новым экономическим реалиям, в том числе к долговому кризису в Латинской Америке. Банк начал внедрять программы структурной адаптации, которые включали экономические реформы и меры жесткой экономии в обмен на кредиты.</p>
                </div>
                <div class="card-footer text-body-secondary">
                    Структурные реформы и программы адаптации
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Новые вызовы и глобальная интеграция (2000-2020)</h5>
                    <p class="card-text">В начале 2000-х годов Всемирный банк сосредоточил свои усилия на сокращении бедности и достижении <a href="/glossary#Millennium_Development_Goals">Целей развития тысячелетия (ЦРТ)</a>, установленных ООН. Банк разработал стратегию, направленную на улучшение доступа к образованию, здравоохранению и инфраструктуре.</p>
                </div>
                <div class="card-footer text-body-secondary">
                    Борьба с бедностью
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title"> Современные инициативы и будущее (2020-настоящее время)</h5>
                    <p class="card-text">Банк также исследует возможности использования технологий и инноваций для улучшения своих программ и проектов, включая <a href="/glossary#digitalization">цифровизацию</a>, зеленые технологии и устойчивые энергетические решения.</p>
                </div>
                <div class="card-footer text-body-secondary">
                    Технологические инновации
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}