{% extends "__layout.html" %}

{% block content %}

<h5 class="display-5">История <a href="/glossary#world_bank">Всемирного банка</a></a></h5>

<section>
    <div class="container-xxl">
        {% for card in cards %}
            <div class="card mb-3">
                <img src="{{ card.img_link }}" class="card-img-top" alt="{{ card.img_alt }}" title="{{ card.img_title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ card.title }}</h5>
                    <p class="card-text">{{ card.text | safe }}</p>
                </div>
                <div class="card-footer text-body-secondary">
                    {{ card.footer | safe }}
                </div>
            </div>
        {% endfor %}
    </div>
</section>

{% endblock %}