{% extends "__layout.html" %}

{% block content %}

<section>
    <div class="container-xxl">
        <div class="row align-items-center">
            <div class="col-8">
                <h1>Добро пожаловать на сайт, посвящённый <a href="/glossary#world_bank">Всемирному банку</a></h1>
            </div>
            <div class="col-4">
                <img class="w-100" src="/static/images/world_bank_building.jpg" alt="Всемирный банк" title="Всемирный банк">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-xxl">
        <div class="row">
            {% for item in cards%}
                <div class="col-4">
                    <div class="card main_card">
                        <img src="{{ item.img_link }}" class="card-img-top" alt="{{ item.img_alt }}" title="{{ item.img_alt }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.title }}</h5>
                            <p class="card-text">{{ item.desc }}</p>
                            <a href="{{ item.URL }}" class="btn btn-primary">Узнать больше</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}