<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <i class="bi bi-bank" style="margin-right: 15px;"></i>
    <span class="fs-4">Всемирный банк</span>
  </a>

  <ul class="nav nav-pills">
    {% for item in nav %}
    <li class="nav-item">
      <a href="{{ item.URL  }}" class="nav-link {% if item.title == name %}active{% endif %}" aria-current="page">{{
        item.title }}</a>
    </li>
    {% endfor %}
  </ul>

</header>